# Entornos virtuales
venv/
env/
.venv/

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de distribución / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Logs
logs/
*.log

# Archivos de base de datos
*.db
*.sqlite3

# Archivos de configuración local
.env

# Archivos de IDE y editores
.vscode/
.idea/
*.swp
*.swo
*~

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.bak
*.swp
*~.nib

# Jupyter Notebook
.ipynb_checkpoints

# Archivos de pytest
.pytest_cache/

# Archivos de cobertura
htmlcov/
.coverage
.coverage.*
.cache
coverage.xml
*.cover

# Archivos de mypy
.mypy_cache/

# Archivos específicos del proyecto (ajusta según sea necesario)
config.ini
secrets.json